<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <h1>Titulo1</h1>
      <img width="300px" src="../../assets/images/CupHead.jpg" alt="CupHead">
      <h2>Descripción</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus illum deleniti exercitationem, maiores itaque error assumenda enim id, earum sequi corporis tempore ut repellat nihil. Natus iure saepe aut animi.
      </p>
    </mat-grid-tile>
    <mat-grid-tile>
      <h1>Titulo2</h1>
      <img width="300px" src="../../assets/images/IsNotPipe.png" alt="IsNotPipe">
      <h2>Descripción</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus illum deleniti exercitationem, maiores itaque error assumenda enim id, earum sequi corporis tempore ut repellat nihil. Natus iure saepe aut animi.
      </p>
    </mat-grid-tile>
    <mat-grid-tile>
      <h1>Titulo3</h1>
      <img width="300px" src="../../assets/images/majora's.jpg" alt="majora's">
      <h2>Descripción</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus illum deleniti exercitationem, maiores itaque error assumenda enim id, earum sequi corporis tempore ut repellat nihil. Natus iure saepe aut animi.
      </p>
    </mat-grid-tile>
    <mat-grid-tile>
      <h1>Titulo4</h1>
      <img width="300px" src="../../assets/images/CupHead.jpg" alt="CupHead">
      <h2>Descripción</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus illum deleniti exercitationem, maiores itaque error assumenda enim id, earum sequi corporis tempore ut repellat nihil. Natus iure saepe aut animi.
      </p>
    </mat-grid-tile>
  </mat-grid-list>
  